<!DOCTYPE html>
<html ng-app> <!-- inizializzo AngularJS su tutta la pagina -->
	<head>
		<title>Chiamate asincrone</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">

		<!-- Importazione script -->
		<script src="libs/angular/angular.min.js"></script>
		
		<script>

		// Il modulo $http gestisce le chiamate asincrone
		function testAjax($scope,$http){

			// API alla jQuery

			$scope.carica1 = function(){
				$http({
					url: 'test.json',
					method: 'GET',
				}).success(function(data,status){
					$scope.data = data;
					console.log(data,status);
				}).error(function(data,status){
					console.log(data,status);
				});
			}

			$scope.carica2 = function(){
				$http({
					url: '/mioAPI/',
					method: 'GET',
				}).success(function(data,status){
					console.log(data,status);
				}).error(function(data,status){
					$scope.status = status;
					$scope.msg = data;
				});
			}

			$scope.carica3 = function(){
				$http({
					url: 'test.json',
					method: "POST"
				}).success(function(data,status){
					$scope.films = data.starwars;
				});
			}

		}

		</script>



	</head>
	<body>

		<div class="container" ng-controller="testAjax">
			<div class="row">
				<div class="col-xs-12">
					<h1>Chiamate asincrone (occhio alla console)</h1>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-default" ng-click="carica1()">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						Carica giusto
					</button>
				</div>
				<div class="col-sm-8">
					<div class="alert alert-success" ng-show="data">
						<h3>{{data.titolo}}</h3>
						<p>{{data.testo}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-default" ng-click="carica2()">
						<span class="glyphicon glyphicon-thumbs-down"></span>
						Carica sbagliato
					</button>
				</div>
				<div class="col-sm-8">
					<div class="alert alert-danger" ng-show="status">
						<h3>{{status}}</h3>
						<p>{{msg}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-default" ng-click="carica3()">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						Carica lista
					</button>
				</div>
				<div class="col-sm-8">
					<ol ng-show="films">
						<li ng-repeat="film in films">{{film}}</li>
					</ol>
				</div>
			</div>

		</div>

	</body>
</html>