<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Workshop #1: AngularJS - by Appsterdam Milano</title>
		
		<meta charset="UTF-8">

		<link rel="stylesheet" href="assets/reset.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		
		<script src="../libs/angular/angular.min.js"></script>
		
		<style>
		body{
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			background: url(assets/black-Linen.png);
			color: #333;
			font-size: 21px;
		}
		a,.rosso{
			color: #c41414;
		}
		.slide{
			background-color: white;
			width: 980px;
			height: 600px;
			box-shadow: 0px 0px 40px black;
			padding: 30px;
		}
		h1,h2,h3,h4{
			font-weight: 700;
			margin-bottom: 25px;
		}
		h1{
			font-size: 50px;
		}
		h2{
			font-size: 40px;
		}
		h3{
			font-size: 32px;
		}
		hr{
			border: 0;
			background-color: #ccc;
			height: 1px;
			margin: 40px 0;
		}
		p{
			line-height: 30px;
		}
		img{
			display: block;
			margin: 25px auto;
		}
		li{
			list-style: square inside;
			margin: 20px 0;
		}
		.iniziale{
			text-align: center;
		}
		.qea h1{
			font-size: 400px;
		}
		.grazie h1{
			font-size: 280px;
			margin: 60px 0;
		}
		</style>

	</head>
	<body class="impress-not-supported">

	<div id="impress" data-transition-duration="1200" ng-controller="slideCtrl" >

		<div id="uno" class="step slide iniziale" data-x="0" data-y="0">
			<h2>Appsterdam Workshop #1</h2>
			<h1>Web Apps con AngularJS</h1>
			<hr>
			<img src="assets/appsterdam.png">
			<p>a cura di Salvatore Laisa</p>
		</div>

		<div class="step slide" data-x="{{2000 * ($index +1)}}" data-y="0" ng-repeat="e in parte1">
			<h2>{{e.titolo}}</h2>
			<hr>
			<img src="{{e.foto}}" width="{{e.dim[0]}}" height="{{e.dim[1]}}" ng-show="e.foto" alt="{{e.titolo}}">
			<p ng-show="e.testo">{{e.testo}}</p>
			<ul ng-show="e.lista">
				<li ng-repeat="i in e.lista">{{i}}</li>
			</ul>
		</div>

		<div id="due" class="step slide iniziale" data-x="0" data-y="2000">
			<h3>a questo punto la domanda lecita:</h3>
			<h1>DESIGN PATTERN</h1>
			<p>che cosa sono?</p>
			<hr>
			<img src="assets/dp.jpg" alt="Javascript Design Pattern">
		</div>

		<div class="step slide" data-x="{{2000 * ($index +1)}}" data-y="2000" ng-repeat="e in parte2">
			<h2>{{e.titolo}}</h2>
			<hr>
			<img src="{{e.foto}}" width="{{e.dim[0]}}" height="{{e.dim[1]}}" ng-show="e.foto" alt="{{e.titolo}}">
			<p ng-show="e.testo">{{e.testo}}</p>
			<ul ng-show="e.lista">
				<li ng-repeat="i in e.lista">{{i}}</li>
			</ul>
		</div>

		<div id="tre" class="step slide iniziale qea" data-x="0" data-y="4000">
			<h3>Appsterdam Workshop #1</h3>
			<h1>Q&A</h1>
			<p>fate domande e (forse) avrete risposte</p>
		</div>

		<div class="step slide iniziale grazie" data-x="2000" data-y="4000">
			<p>in conclusione...</p>
			<h1>GRAZIE</h1>
			<p>by Appsterdam Milano team & Coworking Login</p>
		</div>

		<div class="step slide" data-x="4000" data-y="4000">
			<h1>Una nota su queste slide</h1>
			<hr>
			<ul>
				<li>Realizzate in HTML + CSS + JS</li>
				<li>Impress.js per animazioni e navigazione</li>
				<li>AngularJS per logiche e templating</li>
				<li>Google Font per il carattere (Roboto Sans)</li>
				<li>Subtle Patterns per lo sfondo</li>
			</ul>
		</div>

	</div>

	</body>

	<script src="assets/impress.js"></script>
	<script>

	function slideCtrl($scope,$timeout){
		
		$scope.parte1 = [
			{
				'titolo': 'About me | Salvatore Laisa',
				'foto': 'assets/salvatorelaisa.jpg',
				'lista':['(ex) Web Designer, Front End Developer','Docente presso la scuola Mohole di Milano','Mi piace muovere i pixel sugli schermi, tutti gli schermi','Appsterdamer da più di un anno','Bassista a tempo (quasi) perso']
			},{
				'titolo': "L'evoluzione delle tecnologie front-end",
				'foto': 'assets/frontend.png',
				'testo': "Che il mondo del web sia in costante flusso non è una novità, ma a volte ci troviamo davvero di fronte a dei cambiamenti radicali. Una volta Javascript era un liguaggio usato da pochi, poi grazie alle librerie come jQuery è diventato di massa (anche se incompreso) e ora ci si trova di fronte all'esigenza di esplorarlo nelle sue intere potenzialità e anche oltre."
			},{
				'titolo': 'La fine di jQuery?',
				'foto': 'assets/jquery.jpg',
				'testo': "La libreria jQuery ha rappresentato un'epoca nel web design/development in cui nonostante Javascript si sia diffuso molto è rimasto tuttavia oscuro anche nelle mani degli utenti più esperti. Man mano che le esigenze si evolvevano verso lo sviluppo di applicazioni più che di siti, jQuery, nonostante rimanga un'ottima libreria per la manipolazione del DOM, comincia a mostrare i suoi limiti."
			},{
				'titolo': 'Introducing: AngularJS',
				'foto': 'assets/angular.jpg',
				'testo': "Nata nel 2009 per un progetto mai decollato, AngularJS viene successivamente 'rilevata' da Google che avendone notato le potenzialità decide continuarne lo sviluppo e distribuila con licenza opena source. AngularJS si colloca nella stessa famiglia di framework Javascript in cui troviamo Backbone, Ember, Spine che puntano principalmente a fornire un metodo di lavoro (tramite i paradigmi di programmazione, MVC in prima fila) oltre che una collezione di funzionalità già pronte. La particolarità di AngularJS sta nel fatto che utilizza pochi metodi 'proprietari' e nel data-binding che permette di aggiornare i contenuti HTML in tempo reale quando vengono modificati dati in Javascript."
			},{
				'titolo': 'Nuovi tool per il nuovo web',
				'foto': 'assets/bower-logo.png',
				'testo': "Oltre a evolvere esigenze e framework, si evolvono anche gli strumenti. Bower, sviluppato dal team di Twitter, è uno strumento da linea di comando (CLI) che si appoggia su NodeJS e Git per creare un sistema di package management. Anziché continuare ad andare sul sito della libreria necessaria -> scaricarla -> scompattarla -> spostarla nel progetto in uso , possiamo rompere questa routine chiedendo a Bower di scaricarci quello che ci serve, dipendenze incluse!"
			},{
				'titolo': "E' ora di scrivere codice!",
				'foto': 'assets/happy_friday-66010.gif'
			}];

		$scope.parte2 = [
			{
				'titolo': 'MVC - Model View Controller'
			},
			{
				'titolo': 'MVVM - Model View ViewModel'
			}
		];


		// Pagina in fullscreen premendo "f"
		document.onkeyup = function(e){
			console.log(e.keyCode);
			switch(e.keyCode){
				case 70:
					document.documentElement.webkitRequestFullScreen();
					break;
				case 49:
					$scope.api.goto('uno');
					break;
				case 50:
					$scope.api.goto('due');
					break;
				case 51:
					$scope.api.goto('tre');
					break;
			}

		}

		// Setto un ritardo per aspettare il rendering degli elementi di Angular
		$timeout(function(){
			// Inizializzo ImpressJS
			$scope.api = impress();
			$scope.api.init();
		},200);
	}

	</script>
</html>